.start {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 46px;
}

.click-here-button {
  justify-content: center;
  background-color: green;
  height: 8vh;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .click-here-button {
    font-size: 20px;
  }
}
