.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6px 12px;
  padding: 10px;
  flex: 1;
  min-height: 45vh;
}

.back-button {
  border-radius: 6px;
  padding: 0px 8px;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 40px;
  width: 2%;
}

.back-button label {
  margin: auto;
  cursor: pointer;
  font-weight: 600;
}

.about-info {
  border-radius: 50px;
  background: #8f00ff;
  box-shadow: 24px 24px 48px #7a00d9, -24px -24px 48px #a400ff;
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 20vh;
  width: 70%;
  text-align: justify;
  text-indent: 50px;
}

@media only screen and (max-width: 768px) {
  .back-button {
    width: 10%;
  }
}

@media only screen and (min-width: 768px) {
  .back-button {
    width: 10%;
  }
}
