.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6px 12px;
  padding: 10px;
  flex: 1;
  min-height: 45vh;
}

button {
  background-color: lightgray;
  margin-bottom: 40px;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  height: 5vh;
}

.back-button label {
  margin: auto;
  cursor: pointer;
  font-weight: 600;
}

.about-info {
  border-radius: 50px;
  background: #8f00ff;
  box-shadow: 24px 24px 48px #7a00d9, -24px -24px 48px #a400ff;
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 20vh;
  width: 70%;
  text-align: justify;
  text-indent: 50px;
}

@media only screen and (max-width: 768px) {
  .back-button {
    width: 12%;
    padding: 4px 0px;
  }

  .about-info {
    font-size: 12px;
  }

  .p {
    word-spacing: 2000px;
  }
}

@media only screen and (min-width: 768px) {
}
